html {
    /*scroll-behavior: smooth;*/
}

body {
    margin: 0;
    opacity: 1;
    transition: 3s opacity;
    letter-spacing: .2vw;
    font-family: Helvetica;
    font-size: 1.5vw;
    width:100%;
}

    body.fade-out {
        opacity: .1;
        transition: none;
    }

/* Navmenu */
.navBar {
    overflow: hidden;
    background-color: darkblue;
    position: fixed;
    top: 0;
    z-index: 1;
    position: fixed;
    border-radius: 8px;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;
}


.nav {
    padding-left: 2em;
    height: 2vw;
    color: orange;
    text-align: center;
    position: fixed;
}
.nav-bg {
    width: 100%;
    height: 2.5vw;
    padding-bottom: 2vw;
    background-color: midnightblue;
    align-content: center;
    position: fixed;
    
}

.nav li {
    padding-left: 1vw;
    border: .1vw solid black;
    background-color: darkblue;
}
   
    .nav li:hover a:hover {
        color: lightblue;
    }
    .nav li:hover  {
        background-color: blue;
        cursor: pointer;
        color: lightblue;
        border-radius: 2px 2px;
        overflow: hidden;
    }
.nav a:hover {
    text-decoration: underline;
}
    ul {
        list-style-type: none;
        margin:0;
        padding:0;
        text-align: center;
    }

.mySlides {
    display: none;
}

@keyframes moveNav {
    from {
        left: -100vw;
    }

    to {
        left: 0vw;
    }
}

@keyframes moveNavText {
    from {
        top: -100vw;
    }

    to {
        top: 0vw;
    }
}

@keyframes moveBGText {
    from {
        top: -100vw;
    }

    to {
        top: 0vw;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

#Slideshow_Container {
    width: 45.5vw;
    padding-top: 4%;
    position: relative;
    margin: auto;
}

    #Slideshow_Container img {
        height: 39.5vw;
        overflow: hidden;
    }

.Slide_Show_Images {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0,0,0,.75);
    width: auto;
}

.Previous, .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    margin-top: -0vw;
    color: darkgray;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: .6s ease;
}

.Next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    .Previous:hover, .Next:hover {
        background-color: rgba(0,0,0,.8);
        color: white;
    }

.bg-text {
    background: rgba(0,0,0,0.5);
    color: white;
    width: 100%;
    padding-top: .1vh;
    padding-bottom: 1vh;
    margin-top: 23%;
    position: relative;
    -webkit-animation: moveBGText 4s;
    animation: moveBGText 4s;
}


.text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Rockwell Extra Bold;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: rgba(0,0,0,.75);
    font-weight: bold;
    border-radius: 7px 7px 7px 7px;
}

.Slide_Number {
    color: white;
    position: absolute;
    top: 0;
    font-family: "helvetica Neue", helvetica, sans-serif;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    font-weight: bold;
    display: none;
}

.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease;
    position: relative;
    z-index: 1;
}

    .active, .dot:hover {
        background-color: black;
    }

.fader {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.container-small {
    height: 30vw;
    overflow: hidden;
}

.bg-image {
    position: fixed;
    transition: 1s opacity;
    right: 0;
    bottom: 0;
    min-width: 100%;
    width: 100%;
    height:100%;
    z-index: -1;
}

/*Slide Show Tools */
.img-text {
    background: rgba(0,0,0,.5);
    color: lightskyblue;
    width: 100%;
    padding: 20px;
    margin-top: 23%;
    text-align: center;
    font-size: 2vw;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: auto;
}

* {
    box-sizing: border-box;
}

#slideshow {
    position: relative;
    width: 50em;
    height: 50em;
    overflow: hidden;
    margin-bottom: 50px;
}

    #slideshow > div {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
    }
/* Column support*/
.column_1 {
    float: left;
    padding-left: 1vw;
    padding-top: 3%;
    padding-bottom: 33vw;
    height: 10vw;
    background-color: #2a0073;
}

.column_2 {
    float: left;
    padding: 1vw;
    padding-top: 3%;
    padding-bottom: 33vw;
    height: 10vw;
    background-color: #080623;
    text-align: center;
}

.row:after {
    display: table;
    clear: both;
}
.row {
    margin-bottom:4em;
}

/*--------------------------- text elements -------------------------------*/
h1 {
    text-transform: uppercase;
    font-family: "Trebuchet MS", Optima;
    text-align: center;
    margin-top: 3%;
    color: #fff;
}

h3 {
    text-transform: uppercase;
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: center;
    margin-top: 5%;
    color: lightblue;
    font-size: 2.7vw;
    letter-spacing: .5vw
}

p {
    color: aliceblue;
    letter-spacing: .1vw;
    font-size: 2vw;
}

a {
    color: orange;
}
    a:hover {
        text-decoration-style: none ;
    }

q {
    font-style: italic;
    font-weight: bold;
}

img {
    filter: grayscale(75%);
    border-radius: 8px;
    max-width: 100%;
    height: 100%;
    margin: auto auto auto auto;
    display: block;
    object-fit: cover;
}

center {
    font-family: "Helvetica Neue";
    text-align: center;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

    center:hover {
        transition: transform 2s;
        transform: scale(1.1);
    }

p:hover {
    color: #3939c9;
    text-emphasis: inherit;
    text-shadow: rgba(0,0,0,0);
}
/* ----------------Contact Form input--------------*/

form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-family: "Trebuchet MS", Optima;
}



.container img:hover {
    cursor: pointer;
    animation: grayscale 1s 1;
    filter: grayscale(5%);
    transform: scale(1.1);
    transition: transform 1s;
}

footer {
    background-color: midnightblue;
}

@keyframes grayscale {
    0% {
        filter: grayscale(95%);
        transform: scale(1);
    }

    100% {
        filter: grayscale(5%);
        transform: scale(1.1);
    }
}

/* Contact form Styling */
@keyframes movePopup {
    from {
        right: -40vw;
    }

    to {
        bottom: 1.75vw;
    }
}

.Pop_Up_Button {
    bottom: 1.75vw;
    right: 1.74vw;
    width: 25vw;
    background-color: white;
    color: black;
    border: solid rgb(25,4,45);
    cursor: pointer;
    position: fixed;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
    z-index:1;
}

.form-popup {
    border: 3px solid #f0f1f0;
    z-index: 8;
    display: none;
    position: fixed;
    bottom: 6px;
    right: 6px;
}

.form-container {
    max-width: 49vw;
    padding: 9px;
    background-color: white;
}

    .form-container input[type=text], .form-container input[type=password] {
        width: 100%;
        padding: .93vw;
        margin: .6vw 0 .6vw 0;
        border: none;
        background: gainsboro;
        font-family: Helvetica, Avant Garde;
        font-size: 1vw;
    }

    .form-container .btn {
        background-color: white;
        color: black;
        border-color: black;
        margin-bottom: 1vh;
    }

    .form-container .cancel {
        background-color: black;
        color: white;
        border-color: gray;
    }

.button-form {
    font-family: "Trebuchet MS", Optima;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    border-style: solid;
    cursor: pointer;
    width: 100%;
    height: auto;
}

.form-container .cancel:hover {
    color: white;
    background-color: darkred;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    border-style: solid;
    border-color: black;
}
.ph-50 {
    height: 200px;
}
.ph-50 img{
    height: 200px;
    overflow: hidden;
    width: 100%;
}

.footer {
    position: relative;
    margin-top: -4.2em; /* negative value of footer height */
    width: 98%;
    margin-left: 1%;
    height: 5rem;
    clear: both;
    padding-left: 1em;
    padding-top: 1em;
}

