<div id="Contact">
    <div class="form-popup" id="myForm">
        <form action="https://formspree.io/info@learncodinganywhere.com" method="POST" class="form-container">
            <h1>Contact</h1>
            <label for="name">Name:</label>
            <input type="text" id="Name" name="Name" required placeholder="Please provide your name">
            <label for="emali">Email:</label>
            <input type="text" id="Email" name="Email" required placeholder="Write your email address here">

            <label for="email">Phone Number:</label>
            <input type="text" id="Phone" name="Phone" placeholder="(000)-000-0000">
            <label for="message">Message:</label>
            <input type="text" id="Message" name="Message" placeholder="Write your message here">
            <button type="submit" class="btn">Submit</button>
            <button type="button" class="btn cancel button-form" onclick="closeForm()">CLOSE</button>
        </form>
    </div>
</div>
