@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This area Currently contains information valueable to any individual looking to Hire me</p>
<p>Just check out my many great works listed here</p>
<p>404: File Not Found</p>
<p>404: File Not Found</p>
<p>404: File Not Found</p>
<p>404: File Not Found</p>
<p>404: File Not Found</p>
<p>404: File Not Found</p>
<p>404: File Not Found</p>
<p>404: File Not Found</p>
<p>404: File Not Found</p>
<p>404: File Not Found</p>
<p>404: File Not Found</p>
<p>404: File Not Found</p>
<p>404: File Not Found</p>
<p>404: File Not Found</p>
<p>404: File Not Found</p>
<p>404: File Not Found</p>
<p>404: File Not Found</p>
<p>404: File Not Found</p>
<p>404: File Not Found</p>
<p>404: File Not Found</p>
